<header class="bg-primary bg-gradient text-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-left text-md-center mb-3">
        <img
          class="rounded-circle img-fluid"
          src="https://cdn.jsdelivr.net/gh/hanneka/angular-ivy-2135-hrp-fxyt41@e70aed095269193b5280c9367be322788ad4c03a/src/app/nika.jpg"
          alt="Profile Photo"
        />
      </div>
      <div class="col-md-9">
        <h1></h1>

        <!-- Two way data binding -->

        <input [(ngModel)]="myName" placeholder="Enter your name" />
        <h2>Hello, {{ myName }} I'm</h2>
        <p>{{ message }}</p>
        <h1>Hanneka Rose C. Puri</h1>
        <h5>Web Developer</h5>
        <p class="border-top pt-3">
          Innovative, task-driven and have experience in web design and
          development across diverse industries. Equiped with a recored of
          success in consistently identifying and providing the technological
          needs of companies through ingenious innovation. Profecient in
          developing databases, creating user interfaces, writing and testing
          codes, troubleshooting simple.complex issues, and implementing new
          features based on user feedback.
        </p>
      </div>
    </div>
  </div>
</header>
<nav class="bg-dark text-white-50 mb-5">
  <div class="container">
    <div class="row p-3">
      <div class="col-md pb-2 pb-md-0">
        <svg
          width="1em"
          height="1.5em"
          viewBox="0 0 16 16"
          class="bi bi-envelope"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"
          />
        </svg>
        <a
          href="https://mail.google.com/mail/u/0/#inbox"
          class="text-white ml-2"
          >hannekarosepuri04@gmail.com</a
        >
      </div>
      <div class="col-md text-md-center pb-2 pb-md-0">
        <a href="#" class="fa fa-facebook"></a>
        <a href="https://www.facebook.com/hannekarose/" class="text-white ml-2"
          >Hanneka Rose Puri</a
        >
      </div>
      <div class="col-md text-md-right">
        <svg
          width="1.5em"
          height="1.5em"
          viewBox="0 0 16 16"
          class="bi bi-telephone-fill"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"
          />
        </svg>
        <a href="#" class="text-white ml-2">0920 552 7823</a>
      </div>
    </div>
  </div>
</nav>
<div class="intro section" id="about">
  <div class="container">
    <h1 class="text-center">About Me</h1>
    <div class="units-row units-split wrap">
      <div class="unit-20"></div>
      <div class="unit-80">
        <h5>Objective<br /><span id="typed"></span></h5>
      </div>
      <p>
        Highly organized and detail-oriented 3rd year student from Holy Angel
        University seeking an entry-level position as an Web Developer or UI/UX.
        Enthusiastic Web Developer student. Obtained Java Certification. Looking
        to deliver excellent web development skills in Java and Python to help
        grow.
      </p>
    </div>
  </div>
</div>
